button {
    all: unset;
    cursor: pointer;
}

body{
    font-family: 'Roboto', sans-serif;
}

*{
    box-sizing: border-box;
}

/* topo */
.topo {
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    box-shadow:  0px 4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}
  
.topo img {
    width: 75px;
    height: 53px;
    margin: 0px 30px;
}

.topo ion-icon, .rodape ion-icon {
    font-size: 40px;
    margin: 0px 30px;
}

/* chat */
.chat-display{
    display:flex;
    flex-direction: column;
    height: 0 auto;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
    overflow-x: hidden;
}

.mensagem {
    width: 100%;
    min-height: 40px;
    margin: 2px 0px;
    font-size: 14px;
    background-color: #ffffff;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

/* rodape */
.rodape {
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}
   
.escondido {
    display: none;
}

input {
    width: 315px;
    height: 28px;
    border-radius: none;
    border: none;
    font-style: italic;
    font-size: 18px;
}

.barra-chat {
    margin: 0px 30px;
}


/* tela entrada */

.login, .load{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login img{
    margin-top: 90px;
    margin-bottom: 90px;
}

.login input{
    text-align: center;
    border-radius: 5px;
    border: 1px solid #dbdbdb;
    width: 261px;
    height: 54px;
}

.login button{
    width: 109px;
    height: 45px;
    background: #E7E7E7;
    border-radius: 9px;
    margin:15px;
    text-align: center;
}

/* tela participantes */

.background-participantes {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: flex-end;
}



.coluna-participantes {
    min-width: 377px;
    height: 100%;
    background: #ffffff;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    color: black;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    align-items: flex-end;
}

.lista-contatos{
    max-height:250px;
    overflow-x: hidden;
    overflow-y: auto;
}

.coluna-participantes h6{
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    padding: 0 40px;
}

.contatos{
    display: flex;
    flex-direction: column;
}

.visibilidade{
    display: flex;
    flex-direction: column;
}

.lista-contatos{
    display: flex;
    flex-direction: column;
}

.coluna-participantes ion-icon{
    margin-right: 5px;
}

.box-contato,
.box-tipo{
    display: flex;
    margin: 15px;
}

.check{
    color: green;
    margin-left: 5px;
    opacity: 0;
}

.box-tipo.selecionado .check,
.box-contato.selecionado .check{
  opacity: 1;
}

.coluna-participantes button{
    width: 109px;
    height: 45px;
    border-radius: 9px;
    margin:15px;
    text-align: center;
}

.voltar{
    background: #E7E7E7;
}

.log-out{
    background-color: red;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
}

.message {
    width: 100%;
    min-height: 40px;
    border-radius: 2px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    font-family: Roboto;
    font-size: 14px;
}

/* spans */

.span-user {
    margin-left: 5px;
    font-weight: bold;
}

.span-message {
    margin-left: 5px;
}

.span-time {
    margin-left: 10px;
    color: #AAAAAA;
}

.private {
    background-color: #FFDEDE;
}

.status {
    background-color: #DCDCDC;
}

.log-out{
    color: white;
    background-color: red;
}


.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-bottom: 20px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

h3{
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
}